/* Size for brand */
nav .navbar-brand
{
    font-size: xx-large;
}

/* Overall background and text color */
body {
    background-color: #000000; /* Dark background */
    color: #ffffff; /* Light text */
}

/* Form controls - inputs and textareas */
input.form-control, textarea.form-control {
    background-color: #272727; /* Darker background for inputs */
    border: 1px solid #6c6c6c; /* Visible border */
    /* Other styles remain unchanged */
}

/* Placeholder text color */
input.form-control::placeholder, textarea.form-control::placeholder {
    color: #848484; /* medium grey for placeholder text */
}

/* Background and text color when field is focused */
input.form-control:focus, textarea.form-control:focus {
    background-color: #000000; /* Black background when field is focused */
    color: #ffffff; /* White TYPED text when field is focused (placeholder text stays medium grey) */
}

/* Ensuring the text stays WHITE while typing, overrides WebKit-specific behavior */
input.form-control, textarea.form-control {
    -webkit-text-fill-color: initial; /* Reset to default for WebKit browsers */
}

/* TYPED text color when field is defocused */
input.form-control, textarea.form-control {
    color: #dadada; /* light grey typed text when field is defocused */
}

/* slider position */
#sliderRow {
    text-align: left; /* Align content to the left */
}

.sliderLabel {
    margin-left: 10px; /* Space between checkbox and label */
}

.sliderContainer {
    display: none; /* Initially hidden */
    margin-left: 10px; /* Adjust spacing as needed */
}

/* Styles for sliders */
.slider {
    -webkit-appearance: none;
    width: 78%; /* Adjust slider width */
    height: 5px;
    border-radius: 5px;
    background: #333333;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb, .slider::-moz-range-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #FF0000;
    cursor: pointer;
}

.field-align-left {
    text-align: left;
}

.field-align-left .form-control {
    display: inline-block;
    width: 34vw;
    padding: 0;           /* Reduces padding */
    line-height: normal;  /* Adjusts line height */
    min-height: 1em;
}

.custom-field {
    padding: 0;           /* Reduces padding */
    line-height: normal;  /* Adjusts line height */
    min-height: 1em;
}

.input-with-text {
    display: flex;    /* Use Flexbox */
    align-items: center; /* Align items vertically */
}

.input-with-text input {
    flex-grow: 0; /* Prevent input from growing */
    margin-right: 5px; /* Optional: space between the input and text */
}


fieldset {
    margin-bottom: 1em !important;
    border: 1px solid #666 !important;
    padding:1px !important;
}

legend {
    padding: 1px 10px !important;
    float:none;
    width:auto;
}

input.form-control, textarea.form-control {
    padding: 0;       /* Reduces padding */
    line-height: normal; /* Adjusts line height */
    min-height: 1em;  /* Minimum height */
}

textarea.auto-expand {
    resize: none;    /* Disable resizing */
    overflow-y: hidden; /* Hide vertical scrollbar */
}


