<!-- 
    Template: Journal Entry
    Purpose: Allows users to enter their weather observations into the database.
    Features interactive elements like toggles for visibility of slider inputs (for humidity, cloud coverage, and moon phase).
-->

{% extends "layout.html" %}

{% block title %}
    Journal Entry
{% endblock %}

{% block main %}

<form action="/" method="post">
    <fieldset> <!-- air -->
        <div class="mb-3 input-with-text" style="padding-top: 17px;"> <!-- temp -->
            <input autocomplete="off"
                class="form-control"
                name="temp"
                placeholder="temp"
                type="text"
                style="width: 34vw">
            <span>°F</span>
        </div>
        <div class="mb-3 input-with-text"> <!-- wind speed -->
            <input autocomplete="off" 
                class="form-control"
                name="windSpeed"
                placeholder="wind speed"
                type="text"
                style="width: 34vw">
            <span>mph</span>
        </div>
        <div class="mb-3 field-align-left"> <!-- wind direction -->
            <select name="windDirection" class="form-control">
                <option value="" selected>wind direction ≡</option>
                <option value="E">E</option>
                <option value="ESE">ESE</option>
                <option value="SE">SE</option>
                <option value="SSE">SSE</option>
                <option value="S">S</option>
                <option value="SSW">SSW</option>
                <option value="SW">SW</option>
                <option value="WSW">WSW</option>
                <option value="W">W</option>
                <option value="WNW">WNW</option>
                <option value="NW">NW</option>
                <option value="NNW">NNW</option>
                <option value="N">N</option>
                <option value="NNE">NNE</option>
                <option value="NE">NE</option>
                <option value="ENE">ENE</option>
            </select>
        </div>
        <div class="mb-3"> <!-- air notes -->
            <textarea autocomplete="off" 
                class="form-control auto-expand"
                name="airNotes"
                placeholder="air notes"
                rows="1"></textarea>
        </div>
    </fieldset>

    <fieldset> <!-- water -->
        <div class="mb-3" id="sliderRow"> <!-- humidity -->
            <!-- Humidity Toggle -->
            <input type="checkbox" id="humidityVisibleToggle">
            <label for="humidityVisibleToggle" id="humidityLabel" class="sliderLabel">humidity</label>
        
            <!-- Humidity Slider and Value -->
            <div id="humidityContainer" style="display: none;">
                <input type="range" id="humidity" name="humidity" min="0" max="100" value="0" class="slider">
            </div>  
            
            <!-- Humidity Value container -->
            <div id="humidityValueContainer" style="display: none;">
                <span id="humidityValue">0%</span>
            </div>
        </div>
        <div class="mb-3" id="sliderRow"> <!-- Cloud Coverage -->
            <!-- Cloud Coverage Toggle -->
            <input type="checkbox" id="cloudCoverageVisibleToggle">
            <label for="cloudCoverageVisibleToggle" id="cloudCoverageLabel" class="sliderLabel">cloud coverage</label>
        
            <!-- Cloud Coverage Slider and Value -->
            <div id="cloudCoverageContainer" style="display: none;">
                <input type="range" id="cloudCoverage" name="cloudCoverage" min="0" max="100" value="0" class="slider">
            </div>

            <!-- Cloud Coverage Value container -->
            <div id="cloudCoverageValueContainer" style="display: none;">
                <span id="cloudCoverageValue">0%</span> <!-- Slider Value -->
            </div>
        </div>
        <div class="mb-3 field-align-left"> <!-- cloud speed -->
            <select name="cloudSpeed" class="form-control">
                <option value="" selected>cloud speed ≡</option>
                <option value="still">still</option>
                <option value="slow">slow</option>
                <option value="med">med</option>
                <option value="fast">fast</option>
            </select>
        </div>
        <div class="mb-3 field-align-left"> <!-- cloud direction -->
            <select name="cloudDirection" class="form-control">
                <option value="" selected>cloud direction ≡</option>
                <option value="E">E</option>
                <option value="ESE">ESE</option>
                <option value="SE">SE</option>
                <option value="SSE">SSE</option>
                <option value="S">S</option>
                <option value="SSW">SSW</option>
                <option value="SW">SW</option>
                <option value="WSW">WSW</option>
                <option value="W">W</option>
                <option value="WNW">WNW</option>
                <option value="NW">NW</option>
                <option value="NNW">NNW</option>
                <option value="N">N</option>
                <option value="NNE">NNE</option>
                <option value="NE">NE</option>
                <option value="ENE">ENE</option>
            </select>
        </div>
        <div class="mb-3 field-align-left"> <!-- cloud altitude -->
            <select name="cloudAltitude" class="form-control">
                <option value="" selected>cloud altitude ≡</option>
                <option value="low">low</option>
                <option value="med">med</option>
                <option value="high">high</option>
                <option value="very_high">very high</option>
            </select>
        </div>
        <div class="mb-3 field-align-left"> <!-- precipitation -->
            <select name="precipitation" class="form-control">
                <option value="" selected>precipitation ≡</option>
                <option value="fog">fog</option>
                <option value="rain (barely)">rain (barely)</option>
                <option value="rain (light)">rain (light)</option>
                <option value="rain (moderate)">rain (moderate)</option>
                <option value="rain (heavy)">rain (heavy)</option>
                <option value="sleet">sleet</option>
                <option value="hail">hail</option>
                <option value="snow (light)">snow (light)</option>
                <option value="snow (moderate)">snow (moderate)</option>
                <option value="snow (heavy)">snow (heavy)</option>
            </select>
        </div>
        <div class="mb-3"> <!-- water notes -->
            <textarea autocomplete="off" 
                class="form-control auto-expand"
                name="waterNotes"
                placeholder="water notes"
                rows="1"></textarea>
        </div>
    </fieldset>  

    <fieldset> <!-- moon and bio -->
        <div class="mb-3" id="sliderRow"> <!-- Moon Phase -->
            <!-- Moon Phase Toggle -->
            <input type="checkbox" id="moonPhaseVisibleToggle">
            <label for="moonPhaseVisibleToggle" id="moonPhaseLabel" class="sliderLabel">moon</label>
        
            <!-- Invisible Placeholder -->
            <div class="moonImagePlaceholder" style="width: 30px; height: 30px;"></div>

            <div class="moonPhaseFlexContainer" style="display: none;">

                <!-- Moon Phase Image Container -->
                <div>
                    <img id="moonPhaseImage" src="/static/moon_images/1.svg" alt="Moon Phase" width="30" height="30" style="display: none;">
                </div>
        
                <!-- Moon Phase Slider Container -->
                <div>
                    <input type="range" id="moonPhaseSlider" name="moonPhase" min="1" max="28" value="1" class="slider">
                </div>
            </div>
        </div>
        
        <div class="mb-3"> <!-- bio notes -->
            <textarea autocomplete="off" 
                class="form-control auto-expand"
                name="bioNotes"
                placeholder="bio notes"
                rows="1"></textarea>
        </div>
    </fieldset>
    
    <button class="btn btn-primary" type="submit">enter</button>
</form>

{% endblock %}
